.schedule-days{
    text-align: center;
    padding: 20px 40px;
    overflow: hidden;
}
.day{
    float: left;
    cursor: pointer;
    background: #fff;
    width: 14.2%;
    height: 60px;
    border: 0;
    outline: 0;
    &:hover span{
        color: #fff;
        background: #6dd8e0;
    }
    span{
        background: #e07e5e;
        width: 40px;
        height: 40px;
        font-weight: 800px;
        font-size: 18px;
        transition: all .2s ease-in;
        padding: 10px 0 0;
        margin: 0 auto;
        border-radius: 50%;
        display: block;
        &.active{
            color: #fff;
            background: #6dd8e0;
        }
    }
}